# ===========================
# Stripe Configuration
# ===========================
STRIPE_SECRET_KEY=sk_test_51TbOhzAE5vMlFiar5wAZXiqfNWONkJrnjbfZA5lqiEMvw5vFsDCsc2RREnvcgR6kU9nhtqIWBduXtxb07HbOqifV00bTYBOXXV

# ===========================
# Database
# ===========================
MONGO_URI=mongodb+srv://TomasS58952:tomassetas@grupo6.zrzolgb.mongodb.net/taxi_db?appName=Grupo6
PORT=8080
SALT_ROUNDS=10
JWT_SECRET=chave_bem_segura
TOKEN_EXPIRATION=24h

