# ===========================
# Stripe Configuration
# ===========================
STRIPE_SECRET_KEY=sk_test_51TbOhzAE5vMlFiar5wAZXiqfNWONkJrnjbfZA5lqiEMvw5vFsDCsc2RREnvcgR6kU9nhtqIWBduXtxb07HbOqifV00bTYBOXXV

# ===========================
# Database
# ===========================
MONGO_URI=mongodb+srv://:senha@cluster.mongodb.net/ptir

# ===========================
# Server
# ===========================
PORT=8080

# ===========================
# JWT & Authentication
# ===========================
JWT_SECRET=seu_secret_jwt_aqui
TOKEN_EXPIRATION=24h
SALT_ROUNDS=10

